*{
    margin: 0;
    padding: 0;
    /* border: 3px solid black; */
}

body{
    background: linear-gradient(to right, white 60% , #D6BDA6 40%);
}

nav{
    display: flex;
    align-items: self-end;
}