@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Instrument+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to right, white 60% , #D6BDA6 40%);
    height: 100%;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 6.5rem;
}

.leftNav{
    display: flex;
    padding-left: 7rem;
}

.leftNav h1{
    font-size: 3rem;
    text-align: center;
    margin-right: 9rem;
    letter-spacing: -0.4rem;
    cursor: pointer;
}

.leftNav div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35rem;
}

.leftNav a:hover{
    text-decoration: underline;
}

.rightNav{
    display: flex;
    padding-right: 7rem;
    align-items: center;
}

.search{
    height: 2rem;
    cursor: pointer;
    margin: 0rem 1rem;
}

.bolsa{
    height: 2rem;
    width: 2.2rem;
    background-image: url(bolsa.svg);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    margin: 0rem 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.bolsa img{
    height: 1.2rem;
    margin-left: 1rem;
}

hr{
    height: 2rem;
    width: 0.001rem;
    background-color: rgb(197, 180, 180);
    border: 0.001rem solid rgb(197, 180, 180);
    margin: 0rem 1rem;
}

.rightNav button{
    margin: 0rem 1rem;
    padding: 0.5rem 1rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #D6BDA6;
    border: none;
    cursor: pointer;
    transition: background 0.1s,
                transform 0.1s;
}

.rightNav button:nth-child(odd){
    border: 0.2rem solid black;
}

.rightNav button:hover{
    background-color: #fce2ca;
}

.menu{
    display: none;
}

section{
    display: flex;
    padding-left: 7rem;
    padding-right: 6rem;
    justify-content: space-between;
}

.texto{
    padding-top: 11rem;
}

.texto h1{
    font-size: 6.7rem;
    color: black;
    width: 46rem;
}

.texto button{
    margin-top: 4rem;
    font-size: 1.3rem;
    padding: 1rem 1.5rem;
    width: 12.5rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 0.3rem solid black;
    background-color: white;
    cursor: pointer;
    transition: background 0.1s,
                transform 0.1s;
}

.texto button:hover{
    background-color: rgb(203, 203, 203);
}

.texto p{
    font-size: 1.2rem;
    margin-top: 10rem;
    width: 28rem;
}

.imagen{
    margin-right: 17rem;
    overflow: hidden
}
.imagen img{
    height: 54rem;
    max-width: 100%;
}

.padre{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hijouno{
    height: 4rem;
    border-right: 0.21rem solid black;
    display: flex;
    align-items: center;
    padding-right: 0.3rem;
    font-size: 0.8rem;
    cursor: pointer;
}

.hijodos{
    height: 4rem;
    border-right: 0.21rem solid gray;
    display: flex;
    align-items: center;
    padding-right: 0.3rem;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background 0.1s,
                transform 0.1s;
}

.hijodos:hover{
    border-right: 0.21rem solid rgb(169, 168, 168);
}

@media (max-width:1500px){
    
    nav{
        height: 4.5rem;
    }
    
    .leftNav{
        padding-left: 4rem;
    }
    
    .leftNav h1{
        font-size: 2.5rem;
        margin-right: 5.5rem;
    }

    
    .leftNav div{
        width: 25rem;
    }

    .leftNav a{
        font-size: 0.8rem
    }
    
    .rightNav{
        padding-right: 4rem;
    }

   
    .search{
        height: 1.5rem;
        margin: 0rem 0.8rem;
    }

    .bolsa{
        height: 1.5rem;
        width: 2rem;
        margin: 0rem 0.8rem;
    }

    .bolsa img{
        height: 1rem;
        margin-left: 1rem;
    }
    
   
    .rightNav button{
        margin: 0rem 0.8rem;
        font-size: 0.8rem
    }
    
    section{
        padding-left: 4rem;
        padding-right: 3.5rem;
    }
     
    .texto{
        padding-top: 6rem;
    }
    
    .texto h1{
        font-size: 4rem;
        width: 28rem;
    }
    
    .texto button{
        margin-top: 3rem;
        font-size: 1rem;
        padding: 0.8rem 1.5rem;
        width: 10rem;
        border: 0.3rem solid black;
    }
    
    
    .texto p{
        font-size: 0.8rem;
        margin-top: 3rem;
        width: 20rem;
    }
    
    .imagen{
        margin-right: 10rem;
    }
    .imagen img{
        height: 38rem;
        max-width: 100%;
    }
    
    
    .hijouno{
        height: 3.5rem;
        font-size: 0.6rem;
    }
    
    .hijodos{
        height: 3.5rem;
        font-size: 0.6rem;
    }
}

@media (max-width:720px){
    body{
        background: linear-gradient(to right, white 50% , #D6BDA6 50%);
    }

    nav{
        height: 10rem;
    }
    
    .leftNav{
        padding-left: 2rem;
    }
    
    .leftNav h1{
        font-size: 4.5rem;
        margin-right: 0rem;
    }
    
    
    .leftNav div{
        width: 0rem;
    }

    .leftNav a{
        display: none;
    }
     
    .rightNav{
        padding-right: 2rem;
    }
   
    .search{
        height: 3rem;
        margin: 0rem 0.8rem;
    }
    
    .bolsa{
        display: none;
    }

    .bolsa img{
        display: none;

    }
    
    .rightNav button{
        display: none;

    }

    .menu{
        display: block;
        cursor: pointer;
        margin: 0rem 0.8rem;
        height: 4rem;
    }

    section{
        padding-left: 2rem;
        padding-right: 2rem;
        flex-wrap: wrap;
    }
     
    .texto{
        padding-top: 4rem;
        text-align: center;
    }
    
    .texto h1{
        font-size: 5rem;
        width: 100%;

    }
    
    .texto button{
        font-size: 1.2rem;
        padding: 1rem 1.5rem;
        width: 12rem;
    }
    
    
    .texto p{
        font-size: 1.2rem;
        width: 100%;
        text-align: center;
    }
    
    .imagen{
        margin-right: 10rem;
    }
    .imagen img{
        height: 40rem;
        max-width: 100%;
    }
    
    .hijouno{
        height: 6rem;
        font-size: 2rem;
        padding-right: 1rem;
        border-right: 0.5rem solid black;
    }
    
    .hijodos{
        height: 6rem;
        font-size: 2rem;
        padding-right: 1rem;
        border-right: 0.5rem solid gray;
    } 
}